<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/tmp/logo/logo-color.svg"/>
        <span class="title">snails</span>
      </div>
      <div class="desc">🐌一个基于 Spring-Boot + Angular + Ng-Zorro 前后端分离项目的简单实现</div>
    </div>
    <router-outlet></router-outlet>s
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i> 2020 <a href="//gitee.com/kuzan" target="_blank">kuzank</a>出品
    </global-footer>
  </div>
</div>
