@import '~@delon/theme/styles/default';

:host ::ng-deep {

  .s-container {
    width: 100%;
    height: calc(100vh - 60px);
    padding-top: 10px;
    background-color: #fff;
  }

  .s-left {
    width: 300px;
    margin-right: 15px;
  }

  .s-center {
    width: 400px;
    margin-right: 15px;

    .menu-info {
      margin-top: 5px;

      .s-form-item {
        margin: 0 0 5px 0;

        .s-label {
          width: 85px;
          text-align: right;
        }

        .s-value {
          width: 100%;
        }
      }
    }
  }

  .s-right {
    width: 300px;

    .ant-alert.ant-alert-no-icon {
      margin-bottom: 4px;
      padding: 5px 3px;
    }
  }

  .setting-drawer__handle {
    top: 60px !important;
  }
}

.create-item {
  margin-bottom: 5px;

  .label {
    width: 85px;
    text-align: right;
  }
}


