<div class="alain-default__content-title">
  <h1>
    G2 自定义图表
    <small>Welcome !</small>
  </h1>
</div>
<div nz-row nzGutter="16">
  <div class="mb-md" nz-col nzMd="12" nzSm="12" nzXs="24">
    <g2-timeline3
      [data]="data1"
      [height]="250"
      [titleMap]="{y1: '方案一', y2: '方案二',y3:'方案三'}"
      padding="auto"
      position="bottom"
      title="三种方案曲线 - 24小时"></g2-timeline3>
  </div>
  <div class="mb-md" nz-col nzMd="12" nzSm="12" nzXs="24">
    <g2-timeline3
      [data]="data2"
      [height]="250"
      [titleMap]="{y1: '方案一', y2: '方案二',y3:'方案三'}"
      mask="DD"
      padding="auto"
      position="bottom"
      title="三种方案曲线 - 天"></g2-timeline3>
  </div>


  <div class="mb-md" nz-col nzMd="12" nzSm="12" nzXs="24">
    <g2-timeline1
      [data]="data3"
      [height]="250"
      [titleMap]="{y: '方案一'}"
      padding="auto"
      position="bottom"
      title="一种方案曲线 - 24小时"></g2-timeline1>
  </div>
  <div class="mb-md" nz-col nzMd="12" nzSm="12" nzXs="24">
    <g2-timeline1
      [data]="data4"
      [height]="250"
      [titleMap]="{y: '方案一'}"
      mask="DD"
      padding="auto"
      position="bottom"
      title="一种方案曲线 - 天"></g2-timeline1>
  </div>


  <div class="mb-md" nz-col nzMd="12" nzSm="12" nzXs="24">
    <bar3 [data]="data5" [height]="250" [title]="'三种方案曲线 - 24小时'"></bar3>
  </div>
  <div class="mb-md" nz-col nzMd="12" nzSm="12" nzXs="24">
    <bar3 [data]="data6" [height]="250" [title]="'三种方案曲线 - 24小时'"></bar3>
  </div>
</div>
